---
import '../../styles/prism.css';
import Layout from '../../layouts/Layout.astro';
import { getAllPostIds, getPostData } from '../../lib/articles.js';

export function getStaticPaths() {
  return getAllPostIds();
}

const { id } = Astro.params;

let post;
try {
  if (!id) {
    throw new Error('ID is undefined');
  }
  post = await getPostData(id);
} catch (e) {
  return Astro.redirect('/posts');
}
---

<Layout title={post.title}>
  <div id="post-header">
    <img
      src={post.imageUrl || '/images/chrisko-exo-large.png'}
      alt="Post Header Image"
    />
    {
      post.imageAttribution ? (
        <div class="center italic">
          <span class="small-fonts" set:html={post.imageAttribution} />
        </div>
      ) : null
    }
    <div class="center italic">
      <span>
        {post.author} • {post.formattedDate} • {post.readingTime} min.
      </span>
    </div>
  </div>
  <article class="post" set:html={post.content} />
  <hr />

  <style>
    .post {
      width: 100%;
      word-wrap: break-word;
      padding-top: 0;
    }

    #post-header {
      width: 100%;
    }

    #post-header img {
      width: 100%;
      max-width: 100vw;
      display: block;
      aspect-ratio: 16 / 9;
    }

    hr {
      width: 100%;
      border-bottom: 2px solid black;
      opacity: 0.3;
    }

    .italic {
      font-style: italic;
      font-weight: 300;
    }

    .center {
      text-align: center;
    }
  </style>
</Layout>
