---
const { post } = Astro.props;
---

<>
  <a class="link" href={`${import.meta.env.BASE_URL}posts/${post.id}/`}>
    <div class="post-wrapper">
      <div>
        <h3 class="title">{post.title}</h3>
        <p class="post-shortTitle">{post.shortTitle}</p>
      </div>
      <div class="post-author">
        <img
          class="avatar"
          src={`${import.meta.env.BASE_URL}images/Avatar_CK_min.jpg`}
          alt="Christians Avatar"
        />
        <span class="small-italic">{post.formattedDate}</span>
        <span class="small-italic">{post.readingTime} min.</span>
      </div>
    </div>
  </a>
  <style>
    .post-wrapper {
      display: flex;
      border-radius: 7px;
      box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.3);
      padding: 0rem 1rem;
      margin-bottom: 1rem;
    }

    .post-author {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 1rem;
    }
    .small-italic {
      font-size: 80%;
      font-style: italic;
      opacity: 0.7;
      white-space: nowrap;
    }

    .avatar {
      display: inline-block;
      height: 60px;
      width: 60px;
      border-radius: 30px;
      transform: rotate(14deg);
      margin-bottom: 12px;
    }

    @media (max-width: 600px) {
      .post-author {
        display: none;
      }
    }
  </style>
</>
